<a href="https://colab.research.google.com/github/DonaldTurton/iLab2/blob/4hr-data-acquisition-branch/Data_Acquisition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Reading

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Daily Data Sets

## BIC, ETHER, XRP Daily Bitfinix

In [ ]:
BITC_BITFINIX_url = "https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Bitcoin/BITFINEX_BTCUSD%2C%201D.csv"
bitcoin_daily = pd.read_csv (BITC_BITFINIX_url)
bitcoin_daily = bitcoin_daily[['time','open', 'close', 'Volume']]
bitcoin_daily = bitcoin_daily.rename(columns={'open': 'BTC_open', 'close': 'BTC_close', 'Volume': 'BTC_vol'})
print(len(bitcoin_daily))
print(bitcoin_daily.isna().sum())

2677
time         0
BTC_open     0
BTC_close    0
BTC_vol      0
dtype: int64

In [ ]:
ETHERIUM_BITFINIX_url= 'https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Ethereum/BITFINEX_ETHUSD%2C%201D.csv'
ethereum_daily = pd.read_csv(ETHERIUM_BITFINIX_url) 
ethereum_daily = ethereum_daily[['time','open', 'close', 'Volume']]
ethereum_daily = ethereum_daily.rename(columns={'open': 'ETHER_open', 'close': 'ETHER_close', 'Volume': 'ETHER_vol'})
print(len(ethereum_daily))
print(ethereum_daily.isna().sum())

1497
time           0
ETHER_open     0
ETHER_close    0
ETHER_vol      0
dtype: int64

In [ ]:
RIPPLE_BITFINIX_url= 'https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Ripple/BITFINEX_XRPUSD%2C%201D.csv'
ripple_daily = pd.read_csv(RIPPLE_BITFINIX_url)
ripple_daily = ripple_daily[['time','open', 'close', 'Volume']]
ripple_daily = ripple_daily.rename(columns={'open': 'XRP_open', 'close': 'XRP_close', 'Volume': 'XRP_vol'})
print(len(ripple_daily))
print(ripple_daily.isna().sum())

1176
time         0
XRP_open     0
XRP_close    0
XRP_vol      0
dtype: int64

In [ ]:
bit_eth = pd.merge(bitcoin_daily, ethereum_daily, how='left', on=['time'])
bit_eth_xrp = pd.merge(bit_eth, ripple_daily, how='left', on=['time'])
bit_eth_xrp.head()

                   time    BTC_open   BTC_close  ...  XRP_open  XRP_close  XRP_vol
0  2013-03-31T00:00:00Z   93.300000   93.100010  ...       NaN        NaN      NaN
1  2013-04-01T00:00:00Z   93.170000  102.370000  ...       NaN        NaN      NaN
2  2013-04-02T00:00:00Z  102.800000  117.989990  ...       NaN        NaN      NaN
3  2013-04-03T00:00:00Z  116.579097  134.952969  ...       NaN        NaN      NaN
4  2013-04-04T00:00:00Z  131.779686  132.681000  ...       NaN        NaN      NaN

[5 rows x 10 columns]

In [ ]:
# Convert Date column to Date format.  
bit_eth_xrp["time"] = pd.to_datetime(bit_eth_xrp["time"], dayfirst=True )  #, format ='%d/%m/%y', errors='ignore'

#Set Date as Index
bit_eth_xrp = bit_eth_xrp.set_index('time')#.asfreq('d')

                             BTC_open   BTC_close  ...  XRP_close  XRP_vol
time                                               ...
2013-03-31 00:00:00+00:00   93.300000   93.100010  ...        NaN      NaN
2013-04-01 00:00:00+00:00   93.170000  102.370000  ...        NaN      NaN
2013-04-02 00:00:00+00:00  102.800000  117.989990  ...        NaN      NaN
2013-04-03 00:00:00+00:00  116.579097  134.952969  ...        NaN      NaN
2013-04-04 00:00:00+00:00  131.779686  132.681000  ...        NaN      NaN

[5 rows x 9 columns]

In [ ]:
#Drop NA 
bit_eth_xrp = bit_eth_xrp.dropna()
len(bit_eth_xrp) #1,174 observations after removing NA

1174

In [ ]:
bit_eth_xrp.head()

                           BTC_open  BTC_close  ...  XRP_close       XRP_vol
time                                            ...
2017-05-19 00:00:00+00:00    1941.9     1966.5  ...    0.32498  2.130933e+06
2017-05-20 00:00:00+00:00    1966.5     2059.3  ...    0.34716  3.608873e+06
2017-05-21 00:00:00+00:00    2059.3     2026.6  ...    0.32700  2.597807e+06
2017-05-22 00:00:00+00:00    2027.0     2087.3  ...    0.29717  6.474949e+06
2017-05-23 00:00:00+00:00    2087.3     2249.6  ...    0.32158  3.255225e+06

[5 rows x 9 columns]

##Theter Daily BITSTAMP exchange

In [ ]:
USDT_url = "https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Thether/KRAKEN_USDTUSD%2C%201D.csv"
theter_daily = pd.read_csv (USDT_url)
theter_daily = theter_daily[['time','open', 'close', 'Volume']]
theter_daily = theter_daily.rename(columns={'open': 'USDT_open', 'close': 'USDT_close', 'Volume': 'USDT_vol'})
print(len(theter_daily))
print(theter_daily.isna().sum())

1266
time          0
USDT_open     0
USDT_close    0
USDT_vol      0
dtype: int64

##Bitcoin cash BITSTAMP exchange

In [ ]:
BCH_Bitstamp_url = "https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Bitcoin%20Cash/BITSTAMP_BCHUSD%2C%201D.csv"
bitcash_daily = pd.read_csv (BCH_Bitstamp_url)
bitcash_daily = bitcash_daily[['time','open', 'close', 'Volume']]
bitcash_daily = bitcash_daily.rename(columns={'open': 'BCH_open', 'close': 'BCH_close', 'Volume': 'BCH_vol'})
print(len(bitcash_daily))
print(bitcash_daily.isna().sum())

1002
time         0
BCH_open     0
BCH_close    0
BCH_vol      0
dtype: int64

##Litecoin Daily BITFNIX exchange

In [ ]:
LTC_Bitfinix_url = "https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Litecoin/BITFINEX_LTCUSD%2C%201D%20(1).csv"
LTC_daily = pd.read_csv (LTC_Bitfinix_url)
LTC_daily = LTC_daily[['time','open', 'close', 'Volume']]
LTC_daily = LTC_daily.rename(columns={'open': 'LTC_open', 'close': 'LTC_close', 'Volume': 'LTC_vol'})
print(len(LTC_daily))
print(LTC_daily.isna().sum())

2647
time         0
LTC_open     0
LTC_close    0
LTC_vol      0
dtype: int64

##ChainLink from BINANCE exchange

In [ ]:
LINK_Binance_url = "https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Chainlink/BINANCE_LINKUSDT%2C%201D.csv"
LINK_daily = pd.read_csv (LINK_Binance_url)
LINK_daily = LINK_daily[['time','open', 'close', 'Volume']]
LINK_daily = LINK_daily.rename(columns={'open': 'LINK_open', 'close': 'LINK_close', 'Volume': 'LINK_vol'})
print(len(LINK_daily))
print(LINK_daily.isna().sum())

594
time          0
LINK_open     0
LINK_close    0
LINK_vol      0
dtype: int64

### Merge Data Sets (USDT, BCH, LTC, LINK)

In [ ]:
usdt_bch = pd.merge(theter_daily, bitcash_daily, how='left', on=['time'])
usdt_bch_ltc = pd.merge(usdt_bch, LTC_daily, how='left', on=['time'])
usdt_bch_ltc.head()

                   time  USDT_open  ...  LTC_close       LTC_vol
0  2017-03-29T00:00:00Z     1.0000  ...     4.3060  7.892983e+04
1  2017-03-30T00:00:00Z     1.0000  ...     7.7800  1.535658e+06
2  2017-03-31T00:00:00Z     1.0004  ...     7.1300  7.369446e+05
3  2017-04-01T00:00:00Z     1.0009  ...     7.5874  4.294546e+05
4  2017-04-02T00:00:00Z     0.9983  ...     8.3330  7.839697e+05

[5 rows x 10 columns]

In [ ]:
# Convert Date column to Date format.  
usdt_bch_ltc["time"] = pd.to_datetime(usdt_bch_ltc["time"], dayfirst=True )  #, format ='%d/%m/%y', errors='ignore'

#Set Date as Index
usdt_bch_ltc = usdt_bch_ltc.set_index('time')#.asfreq('d')

In [ ]:
#Drop NA 
usdt_bch_ltc = usdt_bch_ltc.dropna()
len(usdt_bch_ltc) #1,002 observations after removing NA

1002

In [ ]:
usdt_bch_ltc

                           USDT_open  USDT_close  ...  LTC_close       LTC_vol
time                                              ...
2017-12-04 00:00:00+00:00     0.9977      1.0020  ...    103.420  3.055461e+05
2017-12-05 00:00:00+00:00     1.0039      1.0000  ...     99.487  3.095707e+05
2017-12-06 00:00:00+00:00     0.9998      1.0117  ...     96.513  4.537027e+05
2017-12-07 00:00:00+00:00     1.0119      1.0140  ...     93.560  4.015128e+05
2017-12-08 00:00:00+00:00     1.0250      1.0067  ...    120.900  1.194805e+06
...                              ...         ...  ...        ...           ...
2020-08-27 00:00:00+00:00     1.0003      1.0004  ...     56.181  6.223681e+04
2020-08-28 00:00:00+00:00     1.0004      1.0006  ...     57.512  2.481438e+04
2020-08-29 00:00:00+00:00     1.0006      1.0003  ...     57.065  1.616494e+04
2020-08-30 00:00:00+00:00     1.0004      1.0001  ...     63.018  1.102947e+05
2020-08-31 00:00:00+00:00     1.0001      1.0002  ...     62.786  2.673725e+04

[1002 rows x 9 columns]

## Daily Data Set

In [ ]:
Daily_Data = pd.merge(bit_eth_xrp, usdt_bch_ltc, how='left', on=['time'])
Daily_Data.head()

                           BTC_open  BTC_close  ...  LTC_close  LTC_vol
time                                            ...
2017-05-19 00:00:00+00:00    1941.9     1966.5  ...        NaN      NaN
2017-05-20 00:00:00+00:00    1966.5     2059.3  ...        NaN      NaN
2017-05-21 00:00:00+00:00    2059.3     2026.6  ...        NaN      NaN
2017-05-22 00:00:00+00:00    2027.0     2087.3  ...        NaN      NaN
2017-05-23 00:00:00+00:00    2087.3     2249.6  ...        NaN      NaN

[5 rows x 18 columns]

In [ ]:
#Drop NA 
Daily_Data = Daily_Data.dropna()
len(Daily_Data) #975 TOTAL observations after removing NA

975

In [ ]:
Daily_Data

                               BTC_open     BTC_close  ...  LTC_close       LTC_vol
time                                                   ...
2017-12-04 00:00:00+00:00  11161.000000  11599.000000  ...    103.420  3.055461e+05
2017-12-05 00:00:00+00:00  11598.000000  11592.000000  ...     99.487  3.095707e+05
2017-12-06 00:00:00+00:00  11591.000000  13509.000000  ...     96.513  4.537027e+05
2017-12-07 00:00:00+00:00  13509.000000  16609.000000  ...     93.560  4.015128e+05
2017-12-08 00:00:00+00:00  16608.000000  15822.000000  ...    120.900  1.194805e+06
...                                 ...           ...  ...        ...           ...
2020-07-31 00:00:00+00:00  11122.785171  11350.000000  ...     58.226  4.579665e+04
2020-08-01 00:00:00+00:00  11350.000000  11804.744013  ...     61.636  1.142340e+05
2020-08-02 00:00:00+00:00  11805.000000  11053.772562  ...     56.663  2.317509e+05
2020-08-03 00:00:00+00:00  11058.838777  11226.521728  ...     58.453  6.892064e+04
2020-08-04 00:00:00+00:00  11226.992174  11236.000000  ...     57.570  5.234679e+04

[975 rows x 18 columns]

# Hourly Data Set

In [ ]:
BITC_BITFINIX_H_url = "https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Bitcoin/BITFINEX_BTCUSD%2C%2060.csv"
bitcoin_hourly = pd.read_csv (BITC_BITFINIX_H_url)
bitcoin_hourly = bitcoin_hourly[['time','open', 'close', 'Volume']]
bitcoin_hourly = bitcoin_hourly.rename(columns={'open': 'BTC_open', 'close': 'BTC_close', 'Volume': 'BTC_vol'})
print(len(bitcoin_hourly))
print(bitcoin_hourly.isna().sum())

13945
time         0
BTC_open     0
BTC_close    0
BTC_vol      0
dtype: int64

In [ ]:
ETHERIUM_BITFINIX_H_url= 'https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Ethereum/BITFINEX_ETHUSD%2C%2060.csv'
ethereum_hourly = pd.read_csv(ETHERIUM_BITFINIX_H_url) 
ethereum_hourly = ethereum_hourly[['time','open', 'close', 'Volume']]
ethereum_hourly = ethereum_hourly.rename(columns={'open': 'ETHER_open', 'close': 'ETHER_close', 'Volume': 'ETHER_vol'})
print(len(ethereum_hourly))
print(ethereum_hourly.isna().sum())

13992
time           0
ETHER_open     0
ETHER_close    0
ETHER_vol      0
dtype: int64

In [ ]:
RIPPLE_BITFINIX_H_url= 'https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Ripple/BITFINEX_XRPUSD%2C%2060.csv'
ripple_hourly = pd.read_csv(RIPPLE_BITFINIX_H_url)
ripple_hourly = ripple_hourly[['time','open', 'close', 'Volume']]
ripple_hourly = ripple_hourly.rename(columns={'open': 'XRP_open', 'close': 'XRP_close', 'Volume': 'XRP_vol'})
print(len(ripple_hourly))
print(ripple_hourly.isna().sum())

13983
time         0
XRP_open     0
XRP_close    0
XRP_vol      0
dtype: int64

In [ ]:
#Merge BTC, ETYH , XRP Hourly
H_bit_eth = pd.merge(bitcoin_hourly, ethereum_hourly, how='left', on=['time'])
H_bit_eth_xrp = pd.merge(H_bit_eth, ripple_hourly, how='left', on=['time'])

                   time     BTC_open  ...  XRP_close        XRP_vol
0  2019-01-01T00:00:00Z  3832.628624  ...    0.36198  586929.856129
1  2019-01-01T01:00:00Z  3835.048699  ...    0.36071  306640.178717
2  2019-01-01T02:00:00Z  3827.600000  ...    0.35890  438610.886871
3  2019-01-01T03:00:00Z  3817.300000  ...    0.36150  289447.869003
4  2019-01-01T04:00:00Z  3828.400000  ...    0.36320  697931.532074

[5 rows x 10 columns]

In [ ]:
# Convert Date column to Date format.  
H_bit_eth_xrp["time"] = pd.to_datetime(H_bit_eth_xrp["time"], dayfirst=True )  #, format ='%d/%m/%y', errors='ignore'

#Set Date as Index
H_bit_eth_xrp = H_bit_eth_xrp.set_index('time')#.asfreq('d')

In [ ]:
#Drop NA 
H_bit_eth_xrp = H_bit_eth_xrp.dropna()
len(H_bit_eth_xrp) #132,933 observations after removing NA

13933

In [ ]:
H_bit_eth_xrp.head()

                              BTC_open    BTC_close  ...  XRP_close        XRP_vol
time                                                 ...
2019-01-01 00:00:00+00:00  3832.628624  3835.163503  ...    0.36198  586929.856129
2019-01-01 01:00:00+00:00  3835.048699  3829.146138  ...    0.36071  306640.178717
2019-01-01 02:00:00+00:00  3827.600000  3817.400000  ...    0.35890  438610.886871
2019-01-01 03:00:00+00:00  3817.300000  3828.400000  ...    0.36150  289447.869003
2019-01-01 04:00:00+00:00  3828.400000  3825.000000  ...    0.36320  697931.532074

[5 rows x 9 columns]

In [ ]:
# Extract new csv 
#from google.colab import files 
#H_bit_eth_xrp.to_csv('H_bit_eth_xrp.csv')
#files.download('H_bit_eth_xrp.csv')

# 4 Hour Data Set

## BIC, ETHER, XRP Daily Bitfinix

In [2]:
BITC_BITFINIX_4hr_url = "https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Bitcoin/BITFINEX_BTCUSD%2C%20240.csv"
bitcoin_4hr = pd.read_csv (BITC_BITFINIX_4hr_url)
bitcoin_4hr = bitcoin_4hr[['time','open', 'close', 'Volume']]
bitcoin_4hr = bitcoin_4hr.rename(columns={'open': 'BTC_open', 'close': 'BTC_close', 'Volume': 'BTC_vol'})
print(len(bitcoin_4hr))
print(bitcoin_4hr.isna().sum())

10018
time         0
BTC_open     0
BTC_close    0
BTC_vol      0
dtype: int64

In [3]:
ETHERIUM_BITFINIX_4hr_url= 'https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Ethereum/BITFINEX_ETHUSD%2C%20240.csv'
ethereum_4hr = pd.read_csv(ETHERIUM_BITFINIX_4hr_url) 
ethereum_4hr = ethereum_4hr[['time','open', 'close', 'Volume']]
ethereum_4hr = ethereum_4hr.rename(columns={'open': 'ETHER_open', 'close': 'ETHER_close', 'Volume': 'ETHER_vol'})
print(len(ethereum_4hr))
print(ethereum_4hr.isna().sum())

8974
time           0
ETHER_open     0
ETHER_close    0
ETHER_vol      0
dtype: int64

In [4]:
RIPPLE_BITFINIX_4hr_url= 'https://raw.githubusercontent.com/DonaldTurton/iLab2/master/Ripple/BITFINEX_XRPUSD%2C%20240.csv'
ripple_4hr = pd.read_csv(RIPPLE_BITFINIX_4hr_url)
ripple_4hr = ripple_4hr[['time','open', 'close', 'Volume']]
ripple_4hr = ripple_4hr.rename(columns={'open': 'XRP_open', 'close': 'XRP_close', 'Volume': 'XRP_vol'})
print(len(ripple_4hr))
print(ripple_4hr.isna().sum())

7048
time         0
XRP_open     0
XRP_close    0
XRP_vol      0
dtype: int64

In [5]:
bit_eth_4hr = pd.merge(bitcoin_4hr, ethereum_4hr, how='left', on=['time'])
bit_eth_xrp_4hr = pd.merge(bit_eth_4hr, ripple_4hr, how='left', on=['time'])
bit_eth_xrp_4hr.head()

                   time  BTC_open  BTC_close  ...  XRP_open  XRP_close  XRP_vol
0  2016-01-01T00:00:00Z    429.17     430.38  ...       NaN        NaN      NaN
1  2016-01-01T04:00:00Z    431.51     433.18  ...       NaN        NaN      NaN
2  2016-01-01T08:00:00Z    433.18     433.01  ...       NaN        NaN      NaN
3  2016-01-01T12:00:00Z    433.24     432.25  ...       NaN        NaN      NaN
4  2016-01-01T16:00:00Z    432.47     432.93  ...       NaN        NaN      NaN

[5 rows x 10 columns]

In [6]:
# Convert Date column to Date format.  
bit_eth_xrp_4hr["time"] = pd.to_datetime(bit_eth_xrp_4hr["time"], dayfirst=True )  #, format ='%d/%m/%y', errors='ignore'

#Set Date as Index
bit_eth_xrp_4hr = bit_eth_xrp_4hr.set_index('time')#.asfreq('d')

In [7]:
#Drop NA 
bit_eth_xrp_4hr = bit_eth_xrp_4hr.dropna()
len(bit_eth_xrp_4hr) #1,174 observations after removing NA

7036

In [8]:
bit_eth_xrp_4hr.head()

                           BTC_open  BTC_close  ...  XRP_close       XRP_vol
time                                            ...
2017-05-19 16:00:00+00:00    1966.6     1948.9  ...    0.34487  5.644067e+05
2017-05-19 20:00:00+00:00    1948.9     1966.5  ...    0.32498  1.566526e+06
2017-05-20 00:00:00+00:00    1966.5     1987.2  ...    0.31284  6.535902e+05
2017-05-20 04:00:00+00:00    1987.2     1993.0  ...    0.32542  3.928830e+05
2017-05-20 08:00:00+00:00    1993.0     1977.4  ...    0.35538  1.088995e+06

[5 rows x 9 columns]

In [11]:
# Turn the date index into a column
bit_eth_xrp_4hr['date_time'] = bit_eth_xrp_4hr.index

bit_eth_xrp_4hr.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7036 entries, 2017-05-19 16:00:00+00:00 to 2020-08-04 08:00:00+00:00
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   BTC_open     7036 non-null   float64
 1   BTC_close    7036 non-null   float64
 2   BTC_vol      7036 non-null   float64
 3   ETHER_open   7036 non-null   float64
 4   ETHER_close  7036 non-null   float64
 5   ETHER_vol    7036 non-null   float64
 6   XRP_open     7036 non-null   float64
 7   XRP_close    7036 non-null   float64
 8   XRP_vol      7036 non-null   float64
 9   date_time    7036 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(9)
memory usage: 604.7 KB

In [13]:
# Create individual date & time columns for further feature engineering in the future
bit_eth_xrp_4hr['date'] = [d.date() for d in bit_eth_xrp_4hr['date_time']]
bit_eth_xrp_4hr['time'] = [d.time() for d in bit_eth_xrp_4hr['date_time']]

In [15]:
# Remove the date_time column
del bit_eth_xrp_4hr['date_time']

In [ ]:
# Print csv to the Google Drive